@use '~style/base.scss' as *;

@include component('navigationlink') {
  color: var(--sw-accent-color);
  cursor: pointer;
  text-decoration: none;
  transition: opacity var(--sw-transition-fast);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
    transform: scale(0.98);
  }
  
  &:visited {
    color: var(--sw-accent-color);
  }
}