@use '@style/base.scss' as *;

@include component('toggle') {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:has(&-input:focus-visible) &-track {
    box-shadow: 0 0 0 3px color(from var(--sw-accent-color) srgb r g b / 0.1);
  }

  // toggle-input
  &-input {
    position: absolute;
    inset: 0;
    margin: 0;
    opacity: 0;
    cursor: inherit;
  }

  // toggle-track
  &-track {
    pointer-events: none;
    position: relative;
    width: 51px;
    height: 31px;
    background-color: var(--sw-color-gray-lighter);
    border-radius: var(--sw-radius-full);
    transition: background-color var(--sw-transition-fast);
  }

  // toggle-on toggle-track
  &-on &-track {
    background-color: var(--sw-color-switch-on);
  }

  // toggle-thumb
  &-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 27px;
    height: 27px;
    background-color: var(--sw-color-control-thumb);
    border-radius: var(--sw-radius-full);
    transition: transform var(--sw-transition-normal), scale var(--sw-transition-fast);
    box-shadow: var(--sw-shadow-sm);
  }

  // toggle-on toggle-thumb
  &-on &-thumb {
    transform: translateX(20px);
  }

  // toggle:active toggle-thumb
  &:active:not(.sw-toggle-disabled) &-thumb {
    scale: 0.95;
  }
}
