@import '~style/base.scss';

.#{ns('vstack')} {
  position: relative;
  // height: 100%;
  @include centerBlock;
  flex-direction: column;
  gap: var(--vstack-spacing, 0);

  > .#{ns('spacer')} {
    min-height: var(--min-length);
  }
}