@import '~style/base.scss';

.#{ns('vstack')} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--vstack-spacing, var(--sw-spacing-xs));

  > .#{ns('spacer')} {
    min-height: var(--min-length);
  }
}