@import '~style/base.scss';

.#{clsName('vstack')} {
  position: relative;
  height: 100%;
  @include centerBlock;
  flex-direction: column;

  > .#{clsName('spacer')} {
    min-height: var(--min-length);
  }
}