@import '~style/base.scss';
@use '~style/mixins/flex-container.scss' as *;
@use '~style/mixins/spacing.scss' as *;

.#{ns('vstack')} {
  @include flex-container(column, stretch);
  @include stack-spacing('--vstack-spacing');

  > .#{ns('spacer')} {
    @include spacer-child(height);
  }
}