import type { IBaseComponent } from 'src/types'
import { standardizeProps } from 'src/common'

import './style.scss'

export interface I{{ pascalCase name }}Props extends IBaseComponent {
  // your custom props here
}

export function {{ pascalCase name }} (props: I{{ pascalCase name }}Props) {
  const { ...cProps } = props

  const {commonProps, restProps, children} = standardizeProps(cProps, {
    className: 'sw-{{ lowerCase name }}'
  })
  
  return (
    <div {...commonProps} {...restProps}>{children}</div>
  )
}