import type { IBaseComponent } from 'src/types'
import { mergeStyle } from 'src/common'

import './style.scss'

export interface I{{ pascalCase name }}Props extends IBaseComponent{
  // your custom props here
}

export function {{ pascalCase name }} (props: I{{ pascalCase name }}Props) {
  const { ...styleProps } = props

  const combinedStyle = mergeStyle(styleProps, {
    className: 'sw-{{ lowerCase name }}'
  })
  
  return (
    <div {...combinedStyle}>{props.children}</div>
  )
}