@use '~style/base.scss' as *;

.#{ns('text')} {
  hyphens: auto;
  text-align: justify;
  
  &.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-limit, 1);
  }
}