@import '~style/base.scss';
@use '~style/mixins/flex-container.scss' as *;
@use '~style/mixins/spacing.scss' as *;

.#{ns('hstack')} {
  @include flex-container(row, center);
  @include stack-spacing('--hstack-spacing');

  > .#{ns('spacer')} {
    @include spacer-child(width);
  }
}