@import '~style/base.scss';

.#{ns('hstack')} {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  gap: var(--hstack-spacing, var(--sw-spacing-xs));

  > .#{ns('spacer')} {
    min-width: var(--min-length);
  }
}