@import '~style/base.scss';

.#{ns('hstack')} {
  position: relative;
  @include centerBlock;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  row-gap: var(--spacing, 0px);
  min-width: 100%;
  overflow-x: auto;
  &.align-top {
    align-items: flex-start;
  }

  &.align-middle {
    align-items: center;
  }

  &.align-bottom {
    align-items: flex-end;
  }
  &.sw-overflowed {
    justify-content: flex-start !important;
  }

  > .#{ns('text')} + .#{ns('text')} {
    margin-left: 4px;
  }

  > .#{ns('spacer')} {
    min-width: var(--min-length);
  }
}