@import '~style/base.scss';

@keyframes page-slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes page-slide-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}


.#{ns('page')} {
  &[data-page-type='page'] {
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &[date-page-status='entering'] {
      animation: page-slide-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    // TODO: better time function for exiting
    &[date-page-status='exiting'] {
      opacity: 0;
      animation: page-slide-right 0.3s ease-out;
    }
  }
}

.#{ns('page-content')} {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}