@use '~style/base.scss' as *;

@include component('page') {
  // standard page
  &[data-page-type='standard'] {
    display: flex;
    flex-direction: column;
  }

  // page-navigation-bar (nested in standard page)
  &[data-page-type='standard'] .#{$prefix}-navigation-bar {
    flex-shrink: 0;
  }
}
