@import '~style/base.scss';

.#{ns('navigationstack')} {
  position: relative;
  height: 100%;
  width: 100%;
  padding:
    var(--safe-area-top, env(safe-area-inset-top))
    var(--safe-area-right, env(safe-area-inset-right, 20px))
    var(--safe-area-bottom, env(safe-area-inset-bottom))
    var(--safe-area-left, env(safe-area-inset-bottom, 20px));
}
