@use '~style/base.scss' as *;

@include component('navigationstack') {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

  * {
    scrollbar-width: thin;
    scrollbar-color: #808080cc transparent;
  }
}
