@import '~style/base.scss';

.#{ns('card')} {
  background-color: var(--sw-color-background-primary);
  border-radius: var(--sw-radius-lg);
  padding: var(--sw-spacing-lg);
  box-shadow: var(--sw-shadow-sm);
  border: 1px solid var(--sw-color-separator);
}

