@import '~style/base.scss';

.#{ns('divider')} {
  background-color: var(--sw-color-separator);
  flex-shrink: 0;

  &.row {
    width: 1px;
    height: 100%;
    min-height: 1px;
  }

  &.column {
    width: 100%;
    height: 1px;
    min-width: 1px;
  }
}