.sw-label{display:inline-flex;align-items:center;gap:var(--sw-spacing-sm)}.sw-label-icon{display:flex;align-items:center;flex-shrink:0}.sw-label-text{font-size:var(--sw-font-size-body);color:var(--sw-color-label-primary)}
