@use './base.scss' as *;
@use './vars.scss' as *;

*,*::after, *::before { 
  box-sizing: border-box; 
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea {
  font-family: inherit;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sw-color-background-secondary);
  color: var(--sw-color-label-primary);
}

body {
  --sw-accent-color: var(--sw-color-blue);
}
