@use '~style/base.scss' as *;

@include component('zstack') {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  &>* {
    grid-column: 1;
    grid-row: 1;
  }
}