@import '~style/base.scss';

.#{ns('scrollview')} {
  position: relative;
  display: flex;

  >.#{ns('spacer')} {
    min-height: var(--min-length);
  }

  &.vertical {
    max-width: 100%;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
    >.#{ns('spacer')} {
      min-height: var(--min-length);
    }
  }

  &.no-scroll-bar {
    scrollbar-width: none;
  }

  &.horizontal {
    max-height: 100%;
    overflow-x: auto;
    width: 100%;
    flex-direction: row;
    >.#{ns('spacer')} {
      min-width: var(--min-length);
    }
  }

  > .#{ns('container')} {
    justify-content: flex-start;
  }
}