@use '~style/base.scss' as *;

@include component('section') {
  width: 100%;
  padding: var(--sw-spacing-lg);
  background-color: var(--sw-color-background-primary);
  
  @include component('section-header') {
    padding-bottom: var(--sw-spacing-sm);
    margin-bottom: var(--sw-spacing-sm);
    font-size: var(--sw-font-size-subheadline);
    font-weight: var(--sw-font-weight-medium);
    color: var(--sw-color-label-secondary);
  }
}