@import '~style/base.scss';

.#{ns('page')} {
  position: absolute;
  inset: 0;
  @include centerBlock;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;

  >.#{ns('container')} {
    width: 100%;
    height: 100%;
  }
}