@use '../../style/vars.scss' as *;

.#{ns('safe-area')} {
  width: 100%;
  height: 100%;
}

.#{ns('safe-area-top')} {
  padding-top: env(safe-area-inset-top, 0px);
}

.#{ns('safe-area-bottom')} {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.#{ns('safe-area-left')} {
  padding-left: env(safe-area-inset-left, 0px);
}

.#{ns('safe-area-right')} {
  padding-right: env(safe-area-inset-right, 0px);
}

