@use '~style/base.scss' as *;

@include component('toggle') {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &[aria-disabled='true'] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // toggle-track
  &-track {
    position: relative;
    width: 51px;
    height: 31px;
    background-color: var(--sw-color-gray-lighter);
    border-radius: var(--sw-radius-full);
    transition: background-color var(--sw-transition-fast);
  }

  // toggle-on toggle-track
  &-on &-track {
    background-color: var(--sw-accent-color);
  }

  // toggle-thumb
  &-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 27px;
    height: 27px;
    background-color: var(--sw-color-background-primary);
    border-radius: var(--sw-radius-full);
    transition: transform var(--sw-transition-fast);
    box-shadow: var(--sw-shadow-sm);
  }

  // toggle-on toggle-thumb
  &-on &-thumb {
    transform: translateX(20px);
  }

  // toggle:active toggle-thumb
  &:active:not([aria-disabled='true']) &-thumb {
    transform: scale(0.95);
  }
}
