@import '~style/base.scss';

.#{ns('link')} {
  color: var(--sw-accent-color);
  cursor: pointer;
  text-decoration: none;
  transition: opacity var(--sw-transition-fast);
  -webkit-tap-highlight-color: transparent;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
  
  &:visited {
    color: var(--sw-accent-color);
  }
}