@use '~style/base.scss' as *;

@include component('slider') {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;

  &-track {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--sw-color-gray-lighter);
    border-radius: var(--sw-radius-full);
  }

  &-fill {
    position: absolute;
    height: 4px;
    background-color: var(--sw-accent-color);
    border-radius: var(--sw-radius-full);
  }

  &-thumb {
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--sw-color-white);
    border-radius: var(--sw-radius-full);
    box-shadow: var(--sw-shadow-sm);
    cursor: pointer;
    transform: translateX(-50%);
    transition: transform 0.1s ease;

    &:active {
      transform: translateX(-50%) scale(1.1);
    }
  }
}
